@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="pricing" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-title">
                        <h1>Pricing</h1>
                    </div>
                    <div class="sec-desc">
                        <p class="fs-5">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                    </div>
                </div>
            </div>
            <div class="row py-3 justify-content-between">
                <div class="col-md-4 text-center  ">
                    <div class="pricing-card bg-light py-4 rounded">
                        <h5>FREE</h5>
                        <ul class="pricing-card-list">
                            <li class="pricing-card-list-item mb-4">
                                <span class="h1 text-danger">$0</span>
                                <span class="text-muted">/ month</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span>Aida dere</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span>Nec feugiat nisl</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span>Nulla at volutpat dola</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <del class="text-muted">Pharetra massa</del>
                            </li>
                            <li class="pricing-card-list-item">
                                <del class="text-muted">Massa ultricies mi</del>
                            </li>
                        </ul>

                        <a href="" class="btn btn-danger rounded-0 my-3 px-4">Buy Now</a>
                    </div>
                </div>
                <div class="col-md-4 text-center  ">
                    <div class="pricing-card bg-danger py-4 rounded">
                        <h5>FREE</h5>
                        <ul class="pricing-card-list">
                            <li class="pricing-card-list-item mb-4">
                                <span class="h1 text-white">$0</span>
                                <span class=" text-white">/ month</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span class="text-white">Aida dere</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span class="text-white">Nec feugiat nisl</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span class="text-white">Nulla at volutpat dola</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <del class=" text-white">Pharetra massa</del>
                            </li>
                            <li class="pricing-card-list-item">
                                <del class=" text-white">Massa ultricies mi</del>
                            </li>
                        </ul>

                        <a href="" class="btn btn-danger rounded-0 my-3 px-4">Buy Now</a>
                    </div>
                </div>
                <div class="col-md-4 text-center  ">
                    <div class="pricing-card bg-light py-4 rounded">
                        <h5>FREE</h5>
                        <ul class="pricing-card-list">
                            <li class="pricing-card-list-item mb-4">
                                <span class="h1 text-danger">$0</span>
                                <span class="text-muted">/ month</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span>Aida dere</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span>Nec feugiat nisl</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <span>Nulla at volutpat dola</span>
                            </li>
                            <li class="pricing-card-list-item">
                                <del class="text-muted">Pharetra massa</del>
                            </li>
                            <li class="pricing-card-list-item">
                                <del class="text-muted">Massa ultricies mi</del>
                            </li>
                        </ul>

                        <a href="" class="btn btn-danger rounded-0 my-3 px-4">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-title">
                        <h1>Team</h1>
                    </div>
                    <div class="sec-desc">
                        <p class="fs-5">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="card p-4 shadow">
                        <div class="team-member-img d-flex justify-content-center">
                            <img src="~/assets/images/team-1.jpg" class="card-img-top rounded-circle w-50" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title m-0">Walter White</h5>
                            <span class="card-desc fw-light">Chief Executive Officer</span>
                            <i class="card-text mt-3 fw-medium d-block text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</i>

                            <ul class="team-social-list justify-content-center mt-3 mb-0 text-secondary">
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-4 shadow">
                        <div class="team-member-img d-flex justify-content-center">
                            <img src="~/assets/images/team-2.jpg" class="card-img-top rounded-circle w-50" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title m-0">Walter White</h5>
                            <span class="card-desc fw-light">Chief Executive Officer</span>
                            <i class="card-text mt-3 fw-medium d-block text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</i>

                            <ul class="team-social-list justify-content-center mt-3 mb-0 text-secondary">
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-4 shadow">
                        <div class="team-member-img d-flex justify-content-center">
                            <img src="~/assets/images/team-3.jpg" class="card-img-top rounded-circle w-50" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title m-0">Walter White</h5>
                            <span class="card-desc fw-light">Chief Executive Officer</span>
                            <i class="card-text mt-3 fw-medium d-block text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</i>

                            <ul class="team-social-list justify-content-center mt-3 mb-0 text-secondary">
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="team-social-list-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-title">
                        <h1>Contact</h1>
                    </div>
                    <div class="sec-desc">
                        <p class="fs-5">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                    </div>
                </div>
            </div>
            <div class="row  mt-3">
                <div class="col-md-6">
                    <div class="contact-info text-center p-5 shadow-sm">
                        <i class="fa-solid fa-location-pin text-danger fs-2"></i>
                        <h3 class="text-secondary">Our Address</h3>
                        <span>A108 Adam Street, New York, NY 535022</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-info text-center p-5 shadow-sm">
                                <i class="fa-solid fa-envelope text-danger fs-2"></i>
                                <h3 class="text-secondary">Email Us</h3>
                                <span>contact@example.com</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info text-center p-5 shadow-sm">
                                <i class="fa-solid fa-phone text-danger fs-2"></i>
                                <h3 class="text-secondary">Call Us</h3>
                                <span>+1 5589 55488 55</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="map ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96969.94872413979!2d49.560869019972124!3d40.57889242848694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403096dcd0923f6b%3A0xdf4767c369322a71!2sSumqayit%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1656503272385!5m2!1sen!2s" class="w-100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-md-6 shadow-sm p-4">
                    <form class="text-center">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1" placeholder="Your Name" class="form-control rounded-0" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="email" id="form3Example3" placeholder="Your Email" class="form-control rounded-0" />
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input class="form-control rounded-0" type="text" placeholder="Your Subject" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <textarea rows="4" id="form3Example4" class="form-control rounded-0" placeholder="Message"></textarea>
                        </div>


                        <!-- Submit button -->
                        <button type="submit" class="btn btn-danger w-25 rounded-0 btn-block mb-2">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>